tuotevaatimukset
Tekniset esteet
raportit
viralliset asiakirjat
Tuotestandardit
suojella terveyttä
kuluttajien turvallisuus
fyysiset ominaisuudet
tuotteen suorituskyky
suojella kotimaisia tuottajia
Tuotteiden testaus
määrittää turvallisuus
sopivuus
Tuotteet pakkaaminen
Tuotteiden merkintä
Tuotteiden merkintä
Tuotetiedot
paikallisten tuottajien suosiminen
pitää ulkomaiset toimittajat poissa
estää ulkomaisia toimittajia
täyttää vaatimukset
kannattamattomat muutokset
rajoittavat erittelyt
